<!DOCTYPE html>
<<<<<<< HEAD
  <%#= render '/refinery/html_tag' %>
=======
  <%= render '/refinery/html_tag' %>
>>>>>>> 73b3cc59a4bf8c4ea0d5506c1daafa132c469c88
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
<body>
  <div class="wrapper">
    <%= site_bar -%>
    <%#= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div>
      <%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
        <%= yield %>
    </div>
    <%= render '/refinery/javascripts' %>
    <div id="push"></div>
  </div>
  <div id="footer">Подвал</div>  
</body>
</html>
